{% extends 'base.html.twig' %}

{% block title %}Ma Candidature-
{% endblock %}

{% block content %}

	<style>

		h2 {
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: rgb(26, 189, 230);
		}
		.offre-card {
			background: rgba(255, 255, 255, 0.15);
			backdrop-filter: blur(10px);
			border: 1px solid rgba(255, 255, 255, 0.3);
			border-radius: 15px;
		}
	</style>

	<main class="container py-5 text-center">
		<h2 class="text-center fw-bold mb-5 py-3">
			Trouver l'entreprise parfaite à vos besoins !
		</h2>

		<div class="row g-4 justify-content-center">
			{% for candidature in candidatures %}
				<div class="col-md-4">
					<div class="offre-card p-4 text-white">
						<div class="fw-bold fs-5 mb-2">{{ candidature.nom }}</div>
						<div class="mb-2">{{ candidature.domaine }}</div>
						<div>📍
							{{ candidature.lieu }}</div>
						<div>✉️
							{{ candidature.email }}</div>
						<div>⏱️
							{{ candidature.duree }}
							|  💼{{ candidature.niveau }}
							|  💸{{ candidature.salaire }}</div>
						<div class="mt-2">{{ candidature.description }}</div>
					</div>
				</div>
			{% endfor %}
		</main>
	{% endblock %}
