{% extends 'base2.html.twig' %}
{% block title %}Modifier une Entreprise
{% endblock %}
{% block heading %}Modifier une Entreprise
{% endblock %}

{% block content %}
	<div class="container mt-4 w-50">
		<form method="POST" action="{{ url_for('modifier-entreprises', {'id': entreprise.id}) }}">
			<div class="mb-3">
				<label class="form-label">Nom</label>
				<input type="text" name="nom" class="form-control form-control-dark" value="{{ entreprise.nom }}" required/>
			</div>
			<div class="mb-3">
				<label class="form-label">Domaine</label>
				<input type="text" name="domaine" class="form-control form-control-dark" value="{{ entreprise.domaine }}" required/>
			</div>
			<div class="mb-3">
				<label class="form-label">Lieu</label>
				<input type="text" name="lieu" class="form-control form-control-dark" value="{{ entreprise.lieu }}" required/>
			</div>
			<div class="mb-3">
				<label class="form-label">E-mail</label>
				<input type="email" name="email" class="form-control form-control-dark" value="{{ entreprise.email }}" required/>
			</div>
			<div class="mb-3">
				<label class="form-label">Telephone</label>
				<input type="tel" name="telephone" class="form-control form-control-dark" value="{{ entreprise.telephone }}" placeholder="Telephone" required/>
			</div>
			<div class="mb-3">
				<label class="form-label">Description</label>
				<input type="description" name="description" class="form-control form-control-dark" value="{{ entreprise.description }}" placeholder="Description" required/>
			</div>
			<button type="submit" class="btn btn-primary">Sauvegarder</button>
			<a href="{{ url_for('gestion_entreprises') }}" class="btn btn-secondary">Annuler</a>
		</form>
	</div>
{% endblock %}
