{% extends 'base2.html.twig' %}
{% block title %}Modifier une Entreprise
{% endblock %}
{% block heading %}Modifier une Entreprise
{% endblock %}

{% block content %}
	<div class="container mt-4 w-50">
		<form method="POST" action="{{ url_for('modifier-etudiants', {'id': gestion_etudiants.id}) }}">
			<div class="mb-3">
				<label class="form-label">Prenom</label>
				<input type="text" name="prenom" class="form-control form-control-dark" value="{{ gestion_etudiants.prenom }}" required/>
			</div>
			<div class="mb-3">
				<label class="form-label">Nom</label>
				<input type="text" name="nom" class="form-control form-control-dark" value="{{ gestion_etudiants.nom }}" required/>
			</div>
			<div class="mb-3">
				<label class="form-label">Mot de passe</label>
				<input type="text" name="mot_de_passe" class="form-control form-control-dark" value="{{ gestion_etudiants.motdepasse}}" required/>
			</div>
			<div class="mb-3">
				<label class="form-label">E-mail</label>
				<input type="email" name="email" class="form-control form-control-dark" value="{{ gestion_etudiants.email }}" required/>
			</div>
			<div class="mb-3">
				<label class="form-label">Lieu</label>
				<input type="text" name="lieu" class="form-control form-control-dark" value="{{ gestion_etudiants.lieu }}" required/>
			</div>
			<div class="mb-3">
				<label class="form-label">Role</label>
				<input type="text" name="role" class="form-control form-control-dark" value="{{ gestion_etudiants.role }}" required/>
			</div>
			<button type="submit" class="btn btn-primary">Sauvegarder</button>
			<a href="{{ url_for('gestion_etudiants') }}" class="btn btn-secondary">Annuler</a>
		</form>
	</div>
{% endblock %}
